@import '~flexboxgrid/css/flexboxgrid.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');


:root {
    --teal: #08415C;
    --turquoise: #388697;
    --mint: #B5FFE1;
    --green: #70C1B3;
    --pink: #ffa7c4;
    --pink-alt: #EBBAB9;
    --grey: #6C969D;
    --red: #CC2936;
    --red-alt: #d23669;
    --main-bg-color: pink;
    --text-link: var(--turquoise);
    /* #d23669; */
}

.no-margin {
    margin: 0;
}

.gpg-key-id-block {
    margin-top: 10px;
}

.gpg-key-id-text {
    margin: 0;
    font-family: inconsolata,menlo, monospace;
    color: var(--green);
    text-decoration: none;
}

.gpg-key-id-text:hover {
    box-shadow: 0 1px 0 0 currentColor;
}

.stylized-anchor-tag {
    box-shadow: 0 1px 0 0 currentColor;
    color: var(--text-link);
    text-decoration: none;
}

.stylized-anchor-tag:hover {
    box-shadow: none;
}

body.dark {
    -webkit-font-smoothing: antialiased;
    --bg: #282c35;
    --bg-secondary: #363c48;
    --header: #fff;
    --textNormal: hsla(0,0%,100%,0.88);
    --textTitle: #fff;
    --textLink: var(--pink);
}